<%= form_for(resource, :url => update_user_without_password_path, :html => { :method => :put }) do |f| %>

  <p><%= f.label :current_password %><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Update" %></p>
<% end %>