<h1>Listing property_photos <%= @property_id.to_s %></h1>

<table>
  <tr>
    <th>Property</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @property_photos.each do |property_photo| %>
  <tr>
    <td><%= property_photo.property_id %></td>
    <td><%= property_photo.url %></td>
    <td><%= link_to 'Show', property_photo %></td>
    <td><%= link_to 'Edit', edit_property_photo_path(property_photo) %></td>
    <td><%= link_to 'Destroy', property_photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property photo', new_property_photo_path %>
